<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" contentType="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/resources/css/gxprogram.css" />
    <script src="/resources/js/gxprogram.js"></script>
    <title>GX 프로그램</title>
  </head>
  <body>
    <div class="container">
      <div class="sidenav">
        <img src="/resources/image/logo.jpg" class="mainlogo" />
        <a href="./notice" id="notice">공지사항</a>
        <a href="./health" id="health">헬스장이용 신청</a>
        <a href="./gxprogram" id="gxprogram">GX 프로그램 신청</a>
        <a href="./locker" id="locker">라커 신청</a>
        <a href="./cart" id="cart">장바구니</a>
        <a href="./myhistory" id="spacing">나의 이용 내역</a>

        <a href="./signup" id="signupBtn">회원가입</a>
        <a href="./login" id="loginBtn">로그인</a>
 <!--   <a href="./mypage" id="myPageBtn">마이페이지</a>  -->
        <a href="./logout" id="logoutBtn">로그아웃</a>
      </div>
      <div class="main-content">
        <div class="page-title">
          <h2>GX 프로그램 신청</h2>
        </div>
        <div class="page-content"> 
          <!--프로그램 정보 노출영역-->
          <!--프로그램명, 이용월 센터, 정원, 시간, 상세보기-->
         <table class="gxtable">
           <thead>
             <tr>
               <th>프로그램명</th>
               <th>수강년월</th>
               <th>센터</th>
               <th>정원</th>
               <th>시간</th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
             </tr>
             <tr>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
             </tr>
             <tr>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
             </tr>
             <tr>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
             </tr>
           </tbody>
         </table>
        </div>
      </div>

  </body>
</html>
